@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<script>
    new Vue({
        el: '#calculator-app',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            calculate(){
                console.log("Wuhuu");
            },
        },
    });

</script>

<div id="calculator-app">
    <div class="text-center">
        <h1 class="display-4">Welcome to the grade Calculator</h1>
        <div class="row">
            <div class="col-6">
                <input type="number" id="grade" name="grade" min="1" max="6"/>
            </div>
            <div class="col-6">
                <button class="btn btn-success" v-on:click.prevent="calculate">Berechnen</button>
            </div>
        </div>
    </div>
</div>
