@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the grade Calculator</h1>
    <input type="number" id="grade" name="grade" min="1" max="6"/>
    <button></button>
</div>